Library/
Temp/
Obj/
Logs/
MemoryCaptures/
Build/
Builds/
UserSettings/

.vscode/

.vs/
.idea/
*.sln
*.csproj
*.unityproj
*.suo
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb
*.db
*.VC.db

*.dll
*.exe
*.apk
*.unitypackage
*.app

.DS_Store
Thumbs.db
desktop.ini

sysinfo.txt
crashlytics-build.properties
.plastic/